@{
    Layout = null;
}
<head>
    <script src="~/js/particles.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="~/css/bio.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body id="particles-js">
    <div class="d-flex justify-content-center">
        <div id="overlay">
            <div style="padding-bottom:30px">
                <h2 class="text-center">Welcome to the Biotechnica Subnet</h2>
            </div>

            <div class="d-flex justify-content-center">
                <div class="loader" style="padding-top:15px; align-content:center;">
                </div>
            </div>
        </div>
        <div id="container" style="text-align:center;">
            <br />
            <img src="~/images/biotechnicaLogo.jpg" style="align-content:center;">
            <div style="padding-top:25px;">
            <p>
                For all your bioware and bio-fule needs!
            </p>
            <p>
                Founded in 1990 in Rome, Biotechinca has been providing Night City as well as the rest of the US, Italy, UK, France, and Japan
                with its clean patent bio-fule:
            </p>
            <div class="container">
                <a href="#" class="biotool" data-toggle="tooltip" data-placement="top" title="A complex grain alcohol produced by genetically engineered yeasts and wheat strains" style="color:black;"><strong>CHOOH2</strong></a>
            </div>
            </div>
            <div style="padding-top:10px;">
                <p>
                    Biotechnica has been hard at work with initiatives to help rebuild the environment and promote forest growth. Through our bioengineering efforts,
                    we have been able to help bring back previously extinct animal species from across the globe.
                </p>
                <p>
                    Please also be sure to visit our parent company <a href="~/Home/Arasaka" style="color: green;">Arasaka's</a> subnet to learn more about the safety and security they provide all our labs and facilities!
                </p>
            </div>
        </div>
    </div>

</body>

<script>
    var delay = 3000;
    setTimeout(function () {

        $("#overlay").fadeOut("slow");

        $('#container').fadeIn();

    },
        delay
    );
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 80,
                "density": {
                    "enable": true,
                    "value_area": 800
                }
            },
            "color": {
                "value": "#1ba443"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 3,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#139113",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 6,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "window",
            "events": {
                "onhover": {
                    "enable": false,
                    "mode": "grab"
                },
                "onclick": {
                    "enable": true,
                    "mode": "repulse"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 400,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });
</script>
