@{
    ViewData["Title"] = "";
}

<body onload="spinner()">
    <div id="loader" class="spin-container">
        <div class="spin" id="loader"></div>
        <div class="spin" id="loader2"></div>
        <div class="spin" id="loader3"></div>
        <div class="spin" id="loader4"></div>
        <span id="text" style="font-family:Cyber;">Logging in...</span>
    </div>
    <div style="display:none;" id="container" class="animate-bottom">
        <h1 class="display-4">Welcome to Night City</h1>
        <br />
        <img src="~/images/nightcitylogo.jpg" class="rounded-circle" />
        <br />
    </div>

    <script>
        function spinner() {
            var x = setTimeout(showPage, 5000)
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("container").style.display = "block";
        }
    </script>
</body>
