<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/Cyber.css">
</head>

<div class="text-center">
    <h1 class="display-4">Districts of Night City <br /></h1>
    <br />
    <img src="~/images/nightcityMap.jpg" />
</div>
<br />
<div>
    <ul>
        The Districts:
        <li>Watson</li>
        <li>Pacifica</li>
        <li>City Center</li>
        <li>Heywood</li>
        <li>Westbrook</li>
        <li>Santo Domingo</li>
        <li>The Badlands</li>
    </ul>
</div>