@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <title>Taste the Love!</title>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <img src="~/images/nicolaTransparent.png" class="heroImage" />
            <p class="title">
                Taste the Love!
            </p>
            <p class="subtitle">
                ... in all these flavors!
            </p>
        </div>
    </section>

    <div class="columns has-text-centered">
        <div class="column">
            <img class="card-img-top" src="~/images/NicolaOriginal.png" alt="Card image cap">
            <p class="is-center">nicola Original </p>
        </div>
        <div class="column">
            <img class="card-img-top" src="~/images/NicolaSakura.png" alt="Card image cap">
            <p>nicola Sakura </p>
        </div>
        <div class="column">
            <img class="card-img-top" src="~/images/NicolaBlue.png" alt="Card image cap">
            <p>nicola Blue </p>
        </div>
    </div>
    <div class="column">
        <div class="buttons">
            <a href="~/images/twistedgrim_nicola.gif"><button class="button is-primary is-light">love</button></a>
        </div>
    </div>
</body>
</html>