@{
    ViewData["Title"] = "Netwatch";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/Cyber.css">
</head>

<div class="container-fluid">
    <div class="row justify-content-center">
        <img src="~/images/netwatchBanner.png" alt="Netwatch" />
    </div>
</div>

<br />
<br />

<p>This terminal is protected by NetWatch under the Unilateral Agreement put forth by the World Communications Network. </p>
<p>NetWatch complies with all local laws of the City-State of Night City. Any malicious actor will be prosecuted by the NCPD to the full extent of the law. </p>
<p>NetWatch was founded in London in 1991 as a response to the ever-growing threat of cybercrime and cyberware.</p>

<script>
    console.log("%c ~*Spider Murphy was here*~ -SpiderMurphy", "background: #751be3; color: #e9fa32; font-size: large;");
    console.log(" ");
    console.log("%c ...So was 8ug8ear❤️ ", "background: #050505; color: #eb13d9; font-size: large;")
    console.log("%c A message from the Voodoo Boys to Spider - here is what you are seeking. You just need some strong ICE... and courage💀 -Voodoo", "background: #050505; color: #4b8efa; font-size: large;");
    console.log(" ");
    console.log("%c Remember this is in the /deep webs... -Voodoo  ", "background: #050505; color: #4b8efa; font-size: large;");
    console.log(" ");
    console.warn("Running scan... Compromised subnet found. ");
    console.warn(" Warning! This Terminal has been hacked! Agents from Netwatch have been dispursed and will be hunting down the culprits. Do NOT jack in your personal connection to this device or you may be compromised.");

    var styles = [
        'background: linear-gradient(#D33106, #571402)'
        , 'border: 1px solid #3E0E02'
        , 'color: white'
        , 'display: block'
        , 'text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)'
        , 'box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 5px 3px -5px rgba(0, 0, 0, 0.5), 0 -13px 5px -10px rgba(255, 255, 255, 0.4) inset'
        , 'line-height: 40px'
        , 'text-align: center'
        , 'font-weight: bold'
    ].join(';');
    console.log('%c Netwatch©️ Hellhound v5.16.77 installed', styles);
    console.log("%c Thats some Preem Black ICE ya gonnks are running. Too bad there's a backdoor now! R2V0UGFuY2FrZXNBdFRvbXNEaW5lciE= -8ug8ear❤️ ", "background: #050505; color: #eb13d9; font-size: large;")
</script>
