

@*<body>
        <div class="container">
            <div class="row">
                <nav class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked" style="padding-top:50px; padding-bottom:10px;">
                        <li class="active">
                            <div style="padding-top: 20px"></div>
                            <button class="cybr-btn" onclick="showText('text1')" href="javascript:void(0);">
                                Riot Club <span aria-hidden></span>
                                <span aria-hidden class="cybr-btn__glitch">Ri0t Club</span>
                                <span aria-hidden class="cybr-btn__tag"></span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <div id="text1" style="display:none;">
            <p style="text-align:center;">
                <img src="~/images/riotClub.jpg" />
            </p>
            <p style="text-align:center;">
                A new club is celebrating its grand opening in the south of the Watson district - Riot club!
                The club was created to cater to some of the biggest names in the music industry and features a multi-level bar and all the booze and craft cocktails
                you may need after dealing with that recent Arasaka transaction or getting burned by your fixer who swears they didn't know about that netrunner, they promise...
            </p>
        </div>
    </body>

    <script>
        function showText(id) {
            document.getElementById(id).style.display = "block";
        }
    </script>*@

@*<button class="cybr-btn">
        Cyber<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Cyber_</span>
        <span aria-hidden class="cybr-btn__tag">R25</span>
    </button>
    <button class="cybr-btn">
        Buttons<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Buttons_</span>
        <span aria-hidden class="cybr-btn__tag">R25</span>
    </button>*@

