@{
    ViewData["Title"] = "ScreamSheets";
}

@{
    ViewData["Title"] = "";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/Cyber.css">
</head>

<body>
    <div class="btn-group" role="group">
        <button class="cybr-btn" onclick="mox()" style="padding-bottom:20px;">
            Lizzy's Bar<span aria-hidden></span>
            <span aria-hidden class="cybr-btn__glitch">MOX</span>
            <span aria-hidden class="cybr-btn__tag">13</span>
        </button>
    </div>

    <div id="mox" style="display:none;">
        <p style="text-align:center;">
            <img class="news" src="~/images/Lizzie-Bar.jpg" width="500" height="400" style="padding:5px; border:2px solid black;"/>
        <p style="text-align:center;">
            Gang related activity again in the Watson district as suspects from the Tyger Claw gang staged an attack at Lizzie's bar.
            4 people dead and 2 injured after what seems to be an argument gone wrong at around 10 pm Friday night. Eye witnesses say the group approached a patron, yelling and threatening them
            causing the bouncers at Lizzie's (potentially members of the MOX gang) to engage. An altercation ensued followed by gunshots and a brief power outage. One witness while fleeing the
            gunfire mentioned a patreon calmly sipping their drink during the violence. Police have yet to respond, stating "These things usually sort themselves out." There's the NCPD for you...
            <br />
            <p style="align-content:flex-start">-Naomi Wu</p>
    </div>

    <script>
        function mox() {
            var x = document.getElementById("mox");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        };
        console.log("Lizzie's is home to the MOX, so mind your manners or you may end up in the back of a Trauma Team AVR, If you're lucky...");
    </script>
</body>
