<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/Cyber.css">
</head>
<body>
    <h2>Gold level sponsors</h2>
    <br />
    <br />
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="~/Home/Biotechnica">
                    <img class="d-block w-100" src="~/images/biotechnicaLogo2.jpg" alt="Biotechnica">
                </a>
            </div>
            <div class="carousel-item">
                <a href="~/Home/Nicola">
                    <img class="d-block w-100" src="~/images/nicolaEdit.PNG" alt="nicola">
                </a>
            </div>
            <div class="carousel-item">
                <a href="~/Home/Arasaka">
                    <img class="d-block w-100" src="~/images/Arasaka_Logo.png" alt="Arasaka">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br />
    @*<div>
        <h2>Other Sponsors</h2>
        <div>
            <a href="~/Home/Nicola">
                <img class="d-block w-100" src="~/images/nicola.jpg" alt="Nicola">
            </a>
        </div>
    </div>*@
</body>