@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
    font-family: 'Cyber', sans-serif;
    background-color: black;
    color: greenyellow;
}

#container {
    position: relative;
    display: none;
    width: 1000px;
    height: 600px;
    text-align: left;
    overflow-wrap: break-word;
}

#input {
    background-color: black;
    color: greenyellow;
}

.button {
    position: absolute;
    background-color: greenyellow;
    border: none;
    font-size: 28px;
    color: black;
    padding: 5px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    float: right;
    margin-left: 30px;
    box-sizing: content-box;
    height: 50px;
}

    .button:after {
        content: "";
        background: #000000;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }