/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

img.news {
    height: auto;
    width: auto;
    padding: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*
    Spinner
*/
.spin-container {
    text-align: center;
    margin-top: 100px;
}

.spin {
    border: 5px solid #000000;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader2 {
    border: 5px solid #000000;
    width: 220px;
    height: 220px;
    position: relative;
    top: -216px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader3 {
    border: 5px solid #000000;
    width: 240px;
    height: 240px;
    position: relative;
    top: -452px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader4 {
    border: 5px solid #000000;
    width: 260px;
    height: 260px;
    position: relative;
    top: -708px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(-360deg)
    }

    100% {
        transform: rotateZ(0deg)
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateZ(360deg)
    }

    100% {
        transform: rotateZ(0deg)
    }
}

#text {
    color: #000000;
    font-family: Cyber;
    font-size: 20px;
    position: relative;
    top: -857px;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#container {
    display: none;
    text-align: center;
}

 /*Marquee*/
#marquee {
    background: transparent;
    overflow: hidden;
    position: relative;
}

/* non-animated buttons */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-block-color: black;
    outline: solid;
    background-color: yellow;
    color: black;
    cursor: pointer;
    padding: 20px 25px;
    position: relative;
    text-transform: uppercase;
    font-family: Cyber;
}

    .btn::before {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: -14px;
        left: -13px;
        background-color: yellow;
        border-top: 2px solid black;
        transform: rotate(45deg);
    }

    .btn::after {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        top: -14px;
        right: -13px;
        background-color: yellow;
        border-bottom: 2px solid black;
        transform: rotate(45deg);
    }

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}