
html {
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Cyber', sans-serif;
    background-color: black;
    color: cornflowerblue;
}